<div class="container-skills">
	<h1>Skills</h1>
	<div class="container-skills-items">
		<div class="skill">
			<img src="{{ asset('images/html.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/css.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/js.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/java.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/angular.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/bootstrap.jpg') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/php.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/python.jpg') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/react.png') }}">
		</div>
		<div class="skill">
			<img src="{{ asset('images/symfony.png') }}">
		</div>
	</div>

</div>
